services:
  app:
    profiles:
      - prod
    build: .
    container_name: diary-backend
    depends_on:
      - mysql
    ports:
      - 3000:3000
    env_file:
      - .env.prod

  mysql:
    profiles:
      - dev
      - prod
    container_name: diary-db
    image: mysql:8.0
    ports:
      - 3306:3306
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: